src/main/mule/mongodb-connector.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
    <http:listener-config name="mongodb-connector-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mongodb-connector-config" api="mongodb-connector.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="bf680479-8556-492e-972f-f14efb7b42cc" >
		<mongo:connection-string-connection connectionString="mongodb+srv://xxxx:xxxx@cluster0.gsrxovv.mongodb.net/hr3" />
	</mongo:config>
	<flow name="mongodb-connector-main">
        <http:listener config-ref="mongodb-connector-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mongodb-connector-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mongodb-connector-console">
        <http:listener config-ref="mongodb-connector-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mongodb-connector-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\employeeupdate:application\json:mongodb-connector-config">
		<mongo:update-documents doc:name="Update documents" doc:id="0d3458f0-7f9b-469a-be2e-662f8c9a06e2" config-ref="MongoDB_Config" collectionName="NNRG_Employees">
			<mongo:query ><![CDATA[#[empNum:payload.empNum]]]></mongo:query>
			<mongo:content-to-update ><![CDATA[#[{empFirstName:payload.empFirstName,
 empLastName:payload.empLastName,
 empSalary:payload.empSalary
}]]]></mongo:content-to-update>
		</mongo:update-documents>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\employeedelete\(did):mongodb-connector-config">
		<ee:transform doc:name="Transform Message" doc:id="049cbd14-7ad6-40dc-a6a0-9e9934acdac2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
did:attributes.uriParams.did]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:remove-documents collectionName="NNRG_Employees" doc:name="Remove documents" doc:id="da18a82d-4a5b-46c0-80cc-4338aca97d0d" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[empNum:payload.did]]]></mongo:query>
		</mongo:remove-documents>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

---
"successful"
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\employee\(id):mongodb-connector-config">
		<ee:transform doc:name="Transform Message" doc:id="9e221bda-5b09-4d10-aea2-243716970137" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
id:attributes.uriParams.id]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:find-documents collectionName="NNRG_Employees" fields="empNum,empFirstName,empLastName,empSalary" doc:name="Find documents" doc:id="e20134ba-7240-4886-bda9-b27fe6fd31b7" config-ref="MongoDB_Config">
			<mongo:query ><![CDATA[#[empNum:payload.id]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="3a62fb35-e045-4f67-a54c-c24b083852cc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(e,index)->
{
	empNum:e.empNum,
	empFirstName:e.empFirstName,
	empLastName:e.empLastName,
	empSalary:e.empSalary
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\employees:mongodb-connector-config">
		<mongo:find-documents doc:name="Find documents" doc:id="57092936-bad2-4987-9358-8b7c86678b34" config-ref="MongoDB_Config" collectionName="NNRG_Employees" fields="empNum,empFirstName,empLastName,empSalary"/>
		<ee:transform doc:name="Transform Message" doc:id="c2c8ebda-0eed-44d5-83a5-df15c80a5c1b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(e,index)->
{
	empNum:e.empNum,
	empFirstName:e.empFirstName,
	empLastName:e.empLastName,
	empSalary:e.empSalary
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\employee:application\json:mongodb-connector-config">
		<mongo:insert-document doc:name="Insert document" doc:id="1e916d59-28b6-4e8b-b3a2-5c572a0a64da" config-ref="MongoDB_Config" collectionName="NNRG_Employees"/>
		<ee:transform doc:name="Transform Message" doc:id="78838245-94e3-4986-a249-65872a0c9f7f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload."_id"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
